{% extends "base.html" %}
{% block content %}
<p>Hi, {{request.user}}</p>
    <table class="table">
      <tr>
          <th></th>
          <th></th>
          <th>full_name</th>
          <th>Age</th>
          <th>Email</th>
          <th>Interests</th>
          <th>Last updated<th>

      </tr>

        {% for Student in students %}
          <tr>
            <td>{{forloop.counter}}<td>
            <td>{{Student.full_name}}</td>
            <td>{{Student.age}}</td>
            <td>{{Student.email}}</td>
            <td>{{Student.interests}}</td>
            <td>{{Student.last_update | timesince}}<td>

          </tr>
        {% endfor %}


    </table>
{% endblock %}
{%block students_active %}
class="active"
{% endblock %}
